.redirectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.redirectContent {
  text-align: center;
}

.redirectLink {
  color: #3A8DDE;
  text-decoration: underline;
} 