.imageContainer {
  --h1-size: 44px;
  --h2-size: 26px;
  --h3-size: 26px;
  --line-height: 1.618;
  --section-margin: 42px;
  --p-margin: 13px;
  --heading-margin: 21px;
}

.image {
  object-fit: cover;
  background: #f7f9fc;
}

section {
  margin-bottom: var(--section-margin, 40px);
}
